= render "layouts/header"

.mypage-wrapper
  .mypage-wrapper__icon
    %a{ href: "/items/exhibition"}
      .mypage-wrapper__icon__form
        .mypage-wrapper__icon__form__first 出品
        .mypage-wrapper__icon__form__second
          =icon("fas fa-camera",class: "icon")
  .mypage-wrapper__contents
    = render "menu_bar"

    .mypage-wrapper__contents__right
      = image_tag "pict-reason-03.jpg", class: "mypage-wrapper__contents__right__back-image"
      = image_tag "member_photo_noimage_thumb.png", class: "mypage-wrapper__contents__right__user-image"
      .mypage-wrapper__contents__right__user-name
        freemarket_sample_75b
      .mypage-wrapper__contents__right__title
        .mypage-wrapper__contents__right__title__notice
          お知らせ
        .mypage-wrapper__contents__right__title__todo
          やることリスト
      .mypage-wrapper__contents__right__notices
        事務局から個別メッセージ「ログイン通知」
      .mypage-wrapper__contents__right__notices
        事務局から個別メッセージ「ログイン通知」
      .mypage-wrapper__contents__right__notices
        事務局から個別メッセージ「ログイン通知」
      .mypage-wrapper__contents__right__view-list
        一覧を見る

= render "layouts/footer"
