= render "layouts/header"

.mypage-wrapper
  .mypage-wrapper__contents
    = render "users/menu_bar"
    .mypage-wrapper__contents__right-card-register
      .mypage-wrapper__contents__right-card-register__title
        クレジットカード情報入力
      .mypage-wrapper__contents__right-card-register__form
        -# クレジットカード番号の入力
        =form_with model: @payment, url: payments_path do |f|
          .mypage-wrapper__contents__right-card-register__form__first
            .mypage-wrapper__contents__right-card-register__form__first__title
              = label :card_number, 'カード番号', class: 'register-label'
              %span.required
                必須
            = text_field_tag "number", "", class: "mypage-wrapper__contents__right-card-register__form__first__card-number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"

          .mypage-wrapper__contents__right-card-register__form__card-images
            %i.fab.fa-cc-visa.fa-2x
            %i.fab.fa-cc-mastercard.fa-2x
            %i.fab.fa-cc-jcb.fa-2x
            %i.fab.fa-cc-amex.fa-2x
            %i.fab.fa-cc-discover.fa-2x

          -# 有効期限の入力
          .mypage-wrapper__contents__right-card-register__form__second
            .mypage-wrapper__contents__right-card-register__form__second__title
              = label :card_limit, '有効期限', class: 'register-label'
              %span.required
                必須
            .mypage-wrapper__contents__right-card-register__form__second__limit
              .mypage-wrapper__contents__right-card-register__form__second__limit__month
                %select#exp_month.select-month
                  - (1..12).each do |i|
                    %option{value: "#{i}"} #{i}
              %span.limit
                月
              .mypage-wrapper__contents__right-card-register__form__second__limit__year
                %select#exp_year.select-year
                  - (20..30).each do |i|
                    %option{value: "#{i}"} #{i}
              %span.limit
                年

          -# セキュリティコードの入力
          .mypage-wrapper__contents__right-card-register__form__third
            .mypage-wrapper__contents__right-card-register__form__third__title
              = label :cvc, 'セキュリティコード', class: 'register-label'
              %span.required
                必須
            = text_field_tag "cvc", "", class: "mypage-wrapper__contents__right-card-register__form__third__cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"

          .mypage-wrapper__contents__right-card-register__form__link
            .mypage-wrapper__contents__right-card-register__form__link__text
              カード裏面の番号とは？

          .mypage-wrapper__contents__right-card-register__form__add{id: "card_token"}
            = submit_tag "追加する", id: "token_submit",class: "mypage-wrapper__contents__right-card-register__form__add__btn" 

= render "layouts/footer"
