=render 'layouts/header'
.main-categories
  %h2.main-categories__title 出品中の商品一覧
  .main-categories__lists#roll
    - @items.each do |item|
      = link_to item_path(id: item.id) ,class:"main-categories__lists__item" do
        - item.images.first(1).each do |image| 
          = image_tag image.url.url
          .main-categories__lists__item__text
            %p= item.name
            %p= "#{item.price}円"
            %p#tax (税込)

=render 'layouts/footer'
